
html{
  font-size: 62.5%;
  box-sizing: border-box;
 
}
body{
  font: 1.6rem Helvetica;
  height:100vh;
  margin:0;
}
button{
  font-size: 1.6rem;
}

.full-width{
  width: 100%;
}
#root{
  height: 100%;
}
a{
  text-decoration: none;
}
a:hover{
  color: #ff8080;
}

/* Navbar */

nav {
  font-size: 2rem;
  background-color: #f1f1f1;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

}

nav ul li{
  cursor: pointer;
  padding: 0.5rem;
  flex: auto;
  text-align: center;
}

nav ul li:hover{
  background-color: #555;
  color: white;
}

@media all and (max-width:400px){
  nav ul{
    flex-direction: column;
  }
  nav ul li{
    text-align: center;
  }
}